<footer class="container-xl margin-start-6xl" style="padding-block-end: 2em">
    <hr>
    <div class="stack gap-l">
        <div class="split">
            <div class="cluster text-muted size-xs">
                <span>PADD {{.PADDVersion}}</span>
                <span>Data: {{.PADDDataDir}}</span>
            </div>
        </div>
        <div>
            <form action="/resources/refresh" method="post" class="inline">
                <button type="submit" class="danger outline size-xs">Refresh Resource Files</button>
            </form>
        </div>
    </div>
</footer>
