{{template "base.html" .}}

{{define "content"}}
    <article class="margin-end-6xl">
        <header class="margin-start-5xl">
            <div class="split align-center">
                <h1>{{.CurrentFile.Display}}</h1>
                {{if .CanEdit}}
                    <a href="/edit/{{.CurrentFile.ID}}" class="btn outline size-2xs">Edit</a>
                {{end}}
            </div>
        </header>

        <hr>

        <kelp-toc target="#content-display"></kelp-toc>

        {{if eq .CurrentFile.Name "daily.md"}}
            {{template "add-entry" (dict "Title" "Add Daily Entry" "Action" "/daily" "Placeholder" "What did you do?")}}
        {{else if eq .CurrentFile.Name "inbox.md"}}
            {{template "add-entry" (dict "Title" "Add to Inbox" "Action" "/inbox/add" "Placeholder" "What do you need to remember?")}}
        {{end}}

        <div id="content-display" class="content-display">
            {{.Content}}
        </div>
    </article>
{{end}}

{{define "add-entry"}}
    <div class="margin-start-xl">
        <details>
            <summary>
                <strong>{{.Title}}</strong>
            </summary>
            <form action="{{.Action}}" method="post">
                <label for="entry" class="visually-hidden">{{.Title}}</label>
                <kelp-autogrow>
                    <textarea id="entry" name="entry" rows="3" placeholder="{{.Placeholder}}" required
                              autofocus></textarea>
                </kelp-autogrow>
                <button type="submit" class="margin-start-2xs">Add Entry</button>
            </form>
        </details>
    </div>
{{end}}
