{{template "base.html" .}}

{{define "content"}}
    <article class="margin-end-6xl">

        {{template "page-header" .}}

        <div class="">
            {{if .CSVData.Records}}
                <div class="scroll-horizontal">
                    <table class="table-striped">
                        {{if gt (len .CSVData.Records) 0}}
                            {{$headers := index .CSVData.Records 0}}
                            <thead>
                            <tr>
                                <th class="row-number">#</th>
                                {{range $colIndex, $header := $headers}}
                                    <th class="csv-header">
                                        {{if $.CSVData.Metadata.Headers}}
                                            {{if lt $colIndex (len $.CSVData.Metadata.Headers)}}
                                                {{index $.CSVData.Metadata.Headers $colIndex}}
                                            {{else}}
                                                {{$header}}
                                            {{end}}
                                        {{else}}
                                            {{$header}}
                                        {{end}}
                                    </th>
                                {{end}}
                            </tr>
                            </thead>
                        {{end}}
                        <tbody>
                        {{range $rowIndex, $record := .CSVData.Records}}
                            {{if gt $rowIndex 0}} {{/* Skip header row */}}
                            <tr class="csv-row">
                                <td class="row-number">{{$rowIndex}}</td>
                                {{range $colIndex, $cell := $record}}
                                    <td class="csv-cell">{{$cell}}</td>
                                {{end}}
                            </tr>
                            {{end}}
                        {{end}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                <div class="empty-state">
                    <p>No data in this CSV file.</p>
                </div>
            {{end}}
        </div>
    </article>
{{end}}
