{{template "blank.html" .}}

{{define "content"}}
    {{if .IncludeCheckbox}}
        <label for="tasklist-checkbox-{{.ID}}" class="visually-hidden">Toggle Task Completion</label>
        <input type="checkbox"
               id="tasklist-checkbox-{{.ID}}"
               {{if .IsChecked}}checked{{end}}
               hx-patch="/api/tasks/toggle/{{.ID}}"
               hx-target="#tasklist-label-{{.ID}}" />
    {{end}}
    <span hx-get="/api/tasks/edit/{{.ID}}"
          hx-swap="innerHTML"
          hx-target="#tasklist-item-{{.ID}}"
          id="tasklist-label-{{.ID}}"
          class="tasklist-label fade-in">{{.Value}}</span>
{{end}}
